/*------------- fonts------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
 *{
    font-family: 'Work Sans', sans-serif;
 }
/* -------------------------------------------------
            common styles or utilities
--------------------------------------------------- */
.container{
    background: rgba(255, 144, 14, 0.1);
    position: absolute;
    width: 1500px;
    height: 1000px;
   
}
.g3-architects{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    padding-left: 90px;
}
.contacts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-right: 80px;
    column-gap: 20px;

}
/* <!-- Brand New Group of Architects --> */
.new-architects{
    display: inline;
    text-align: center;
}
.content-1 , .content-2{
    font-weight: 700;
    font-size: 44px;
    line-height: 24px;
    font-family: 'Work Sans', sans-serif;
}
.brand-title-1 , .brand-title-2 {
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
}
.explore-more{
    margin-top:20px;
    background-color: #FF900E;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    color:#FFFFFF;
    font-weight: 600px;
}
.banner{
    width: 1340px;
    height: 600px;
    margin-top: 40px;
}

/* --------------------------------------
       Features Styles
-------------------------------------- */
.features{
    display: flex;
}
.teams{
    margin-top: 85px;
    margin-left:90px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:20px;
    column-gap: 24px ;
}
.team-1 , .team-2 ,.team-3 ,.team-4 {
    width: 292px;
    height: 292px;
    border-radius: 8px;
}
.quick-list{
    display: flex;
    flex-direction: column;

}
.feature-title{
    margin-top: 267px;
    margin-left: 57px;
    font-weight: 400;
    font-size: 30px;
    line-height: 53px;
    color: #727272;
}
.text-primary{
    font-weight: 400;
    font-size: 30px;
    line-height: 53px;
    color:#131313;
}
.text-secondary{
    margin-top: -45px;
    margin-left: 57px;
    font-weight: 400;
    font-size: 30px;
    line-height: 53px;
    color:#FF900E;
}
.quick-article{
width:500px;
margin-top:-30px ;
margin-left:57px ;
font-size: 12px;
font-weight: 100;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #727272;
}
.explore-btn{
    margin-top:20px;
    margin-left: 57px;
    background-color: #FF900E;
    width: 140px;
    height: 44px;
    border-radius: 5px;
    color:#FFFFFF;
    font-weight: 600px;
}
 /* ---------------------------------------------------
         Features You will love and enjoy STYLES 
------------------------------------------------------- */
.love-enjoy{
    margin-top:5px;
    margin-left: 95px;
    margin-right: -130px;
    display: grid;
    grid-template-columns: repeat(2,1fr);


}
.love-enjoy-head{
    margin-top: 5%;
    padding: 12px;
    height:120px ;
    width:700px;
    font-weight: 700;
    font-size: 32px; 
    line-height: 10%;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #ffffff90;
    border-left:5px solid  #FF900E; 
   

}
.love-enjoy-description{
    height: 41px;
    width: 586px;
    font-weight: 50;
    font-size: 12px;
    color: #727272;
    line-height: 18px;
   
}
.love-enjoy-detail-1 ,.love-enjoy-detail-2 ,.love-enjoy-detail-3 ,.love-enjoy-detail-4 {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    height:150px ;
    width:700px;
    padding: 12px;
}
.head{
    font-weight: 400;
    font-size: 18px;
}
.details{
    font-weight: 50;
    font-size: 12px;
    color: #727272;
    line-height: 18px;
    
}
.love-img{
    margin-top: 8%;
    width: 698px;
    height: 882px;
}
.love-enjoy-port{
    position: relative;
    width: 100%;
    max-width: 250px;
}
.love-enjoy-port.love-enjoy-btn{
position: absolute;
top: 90%;
left: 10%;
transform: translate(-50%,-50%);
}
.love-enjoy-btn{
position: relative;
font-weight: 400px;
font-size: 30px;
color: #FFFFFF;
padding: 5px;
top:-50px;
width: 200px;
height: 100px;
background: #FF900E;
border-radius: 8px;

}

.love-enjoy-btn .exp{
 font-size: 15px;
}
/* -----------------------------------------------------
                     Some Facts
--------------------------------------------------------- */
.some-facts{
    margin-left: 120px;
}
.some-facts-heading{
    font-weight: 700;
    font-size: 30px;
}
.some-facts-description{
    font-size: 12px;
    color: #727272;
}
.some-facts-icon{
    display: flex;
    gap: 100px;
    margin-left: 120px;
}
.award , .project , .client ,.email{
text-align: center;
border: 1px solid #FF900E;
padding: 20px;
height: 150px;
width: 160px;
border-radius: 5px;
}
/* -----------------------------------------------------
                     Our Sponsors
--------------------------------------------------------- */
.sponsor-details{
    text-align: center;
}
.sponsor-head{
    font-size: 30px;
}
.sponsor-description{
    font-size: 12px;
    color: #727272; 
}
.sponsor-icon{
    height: 40px;
    display: flex;
    gap: 100px;
    filter:grayscale(100%);
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* -----------------------------------------------------
                     Footer
-------------------------------------------------------- */
footer{
    background: #FFF4E7;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 1200px;
    height: 60px;
}
.footer-text{
    color: #424242;
    font-size: 14px;
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   padding: 2%;
}

/*--------- Media Query----------- */
@media only screen and (max-width:688px) {
    .g3-architects , .contacts,.banner{
        display:grid;
        grid-template-columns:repeat(1, 1fr);
        display: inline;
        text-align:left;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .new-architects{
        display: inline;
        text-align:left;
    }
    
}